<a href="https://colab.research.google.com/github/juyoung524/22-1-Spring-/blob/main/20220321.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing libraries

In [3]:
import pandas as pd 

#너무 기니까 pd로 요약해서 등록

### Loading csv file

In [4]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

csv 파일 이름을 넣으면 (액셀 파일) url 주소 넣어주면 저기 들어가면 하나의 예제 csv 파일이 들어 있는 것임

똑같은 개수의 정보가 comma로 separated되어 있을 뿐임

우리가 액셀 파일로 불러보겠음 (일반적인 액셀 파일과 똑같이 생김)

df라고 하는 variable로 받은 것임 (그냥 변수하면 print(df)와 같은 효과)

총 17000개의 row X 9개의 columns

액셀 형식으로 생긴 데이터를 'Data Frame'이라고 함 (df)

특수하게 액셀 타입으로 생긴 것을 'df'라고 부른다

In [5]:
print(df.size); print(df.ndim); print(df.shape)

153000
2
(17000, 9)

df.size: 17000 X 9 해서 153000개가 옴

df.ndim: 차원이 몇 차원이냐는 말임. (2차원) 행이 1차원, column이 2차원, 다른 차원은 없음

print(df.shape): (17000 row, 9 column 여기 있는 정보가 옴)

In [6]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

개수가 다 똑같으니까 Count

평균

standard deviation

최소값, 최대값, min으로부터 25%, 50%, 75%

이 상태는 memory에 적혀 있는 변수의 형태인데 다시 파일로 저장하고 싶을 수도 있음

### Saving to CSV

In [7]:
df.to_csv('california_housing_train.csv')

실행하면 오른쪽 폴더에 csv 파일이 만들어짐. 내 컴퓨터로 다운로드도 가능 (파일의 형태로 저장 가능)

CSV라는 형태가 훨씬 더 간단하고 general함. 여러 모로 유용하게 쓰이는 general한 형태

그럼 왜 액셀 회사는 xls 형태로 저장할까?(훨씬 더 복잡한 형태임)

-> 액셀 쓰고 그래프 그 안에 imbed시킬 때 그런 것들은 csv 형태로 저장되지 않음. (단순 text 파일이기 때문에) 근데 액셀에서 그림도 저장하고, font도 바꾸고, 칼럼 색깔 바꾸는 것 자유롭게 할 수 있음. 부가적인 정보이지 data information에 대해서는 일종의 decoration임

CSV 파일은 진짜 중요한 value들에 대한 내용만 저장하는 general한 형태의 파일임

### Constructing a DataFrame using dict

Dict를 활용해서 [  ] (준괄호), 안에 들어가는 내용들이 구분되어 있음

Dict 안에 들어가는 내용들 총 5개, comma로 분리되어 있음

각 아이템들은 앞부분에 있는 key와 column을 이용해서 key와 value로 구분됨

총 5개 정의, 각 item에 대해 :로 왼쪽, 오른쪽으로 입력 가능

위에도 다섯 개니까 밑에도 다섯 개, 개수가 맞아야 함

In [8]:
# Some input data - a small sample of the iris dataset
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}

df = pd.DataFrame(data)
#Dict를 넣어주면 dataframe으로 만들어 줌
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

Python 내부에서 dict 변수를 직접 하나하나 적어서 DataFrame이라는 function 통해서 dataframe 변수 만들어줄 수도 있음

### Constructing a DataFrame using pd.Series

한 column의 내용에 해당하는 내용 따로 만드는 것임

sepal_length

sepal_width...

해서 총 5개

내용에 해당하는 부분만 5개를 pandas에 들어있는 'series'라는 함수로 만들어줌

In [9]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

#Dict 여기서 만들어줌.

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

1) CSV 파일 불러와서 만드는 것
-> 주로 이용하는 방법

2) Dict 파일을 통으로 다 만들어서 만드는 방법

3) Series라는 것 써서 칼럼의 내용 부분만 따로 만들고 밑에서 데이터프레임 만드는 것

### Changing column names

Column에 대한 정보 저런 식으로 나옴.

In [10]:
# Change the columns
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df

#총 5개: species 다시 assign함
#실행하면 species 부분에 column명이 소문자로 바뀌어 있음

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Accessing columns

In [11]:
# Access one column 
df.loc[:, 'sepal_length']

#comma 왼쪽은 row, 오른쪽은 column의미함
#:는 '전부 다'라는 것 의미 (행에 대해 선부 다라는 것을 의미함)
#sepal length에 대한 정보만 다 가져옴 (column에서)

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [12]:
# Access one column (short-hand)
df['sepal_length']

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

df[column 명] 이렇게만 적어도 더 간단히 쓸 수 있음

In [13]:
# Access one column (shortest-hand)
df.sepal_length

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

df.sepal_length 이렇게만 해도 더 간단히 정보 가져올 수 있음

In [14]:
# Access two columns
df.loc[:, ['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

두 개의 정보 다 가져올 수 있음 (comma하고 여러 개 쓰면)

In [15]:
# Access two columns (short-hand)
df[['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

### Accessing rows

In [16]:
# Access one row 
df.loc[3, :]

sepal_length           5.4
sepal_width            3.0
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 3, dtype: object

한 row 통으로 가져올 수도 있음. 5.4, 3.0, 4.5 등등

In [17]:
# Access two rows
df.loc[[3, 0], :]

   sepal_length  sepal_width  petal_length  petal_width     species
3           5.4          3.0           4.5          1.5  versicolor
0           6.9          3.2           5.7          2.3   virginica

세 번째, 0번째 행 통으로 가져오고 싶음

In [18]:
# Access a range of rows
df.loc[2:5, :]

   sepal_length  sepal_width  petal_length  petal_width     species
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

ROw는 2, 3, 4 (다섯 번째는 빠짐) 

Column은 전부 다 가져오는 것

In [19]:
# Filter keeping only rows with `sepal_length` > 5
df[df.sepal_length > 5]

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
3           5.4          3.0           4.5          1.5  versicolor

Sepal length가 5보다 큰 경우 가져옴.

0, 1, 3번째 row가 access됨

### Accessing a cell

In [20]:
df.loc[:, 'sepal_length'][4]

4.6

몇 번째에 해당하는 것 뒤에 [4] 이런 식으로 붙임

### ****요기 다시 듣기****

In [ ]:
df['sepal_length'][4]

4.6

In [ ]:
df.sepal_length[4]

4.6

### Adding/Removing new columns

In [21]:
df['new_column'] = 1
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

column access하는 쉬운 방법 중 하나임

Column이 새로 생겨버림 (new_column) 1을 다 assign한다는 의미임 (새로운 column 생기는 것)

In [22]:
df['new_column'] = [1, 2, 3, 4, 5]
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

1, 2, 3, 4, 5로 바뀜

In [23]:
df = df.drop('new_column', axis=1) # axis=1: column
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

axis=1: new column는 axis 1에서 찾아라!

0이 먼저, 1이 두 번째임

drop시키고 원래 있던 df로 해야지 업데이트됨

### Adding/Removing new rows

In [24]:
df.loc[5, :] = ''
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa
5

row 4까지밖에 없는데, 저렇게 적고 '  ' 적으면 (string) string 안에 아무것도 없는 blank string을 다섯 번째 row 만들어거 그걸 다 넣으라는 말임

실행하면 다섯 번째 row 만들어지고, blank로 비어 있도록 실행됨

In [25]:
df = df.drop(5, axis=0) # axis=0: row
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa

axis 0하면 row를 찾는 것임

다섯 번째 행축을 찾아서 drop하고 df로 assign하라

실행하면 다섯 번쨰 행이 없어짐